body {
	margin: 0;
	padding: 0;
	background: #fff;
}

#pushobj {

	top: 0px;

	color: #30F;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
}

/* small displays */
@media only screen {

	#pushobj {
		position: absolute;
		left: 30px;
	}

}
/* medium displays */
@media only screen and (min-width: 40.063em) {
	#pushobj {
		position: inherit;
		left: 0px;
	}
 }
